.DS_Store
/.vscode/

# Ignore mac specific files
*.DS_Store

*/.vscode/
*.vscode/

# Ignore all terraform state directories
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore dotenv files
.env.local
